elastic-transport>=8.0.0b1, <9
requests>=2, <3
aiohttp
pytest
pytest-cov
pytest-asyncio
coverage
sphinx
jinja2
python-dateutil
unasync
pyyaml>=5.4
isort
black
twine
build
nox
elasticsearch
urllib3
tqdm
